#fks12 {
  color: rgba(255,171,9,0.04);
  background: url("../../assets/img/fondos/footerActa.png");
  background-size: 100% 100%;
  /*background-size: cover;*/
}

#fks123 {
  color: rgba(255,171,9,0.04);
  background: url("../../assets/img/fondos/footerActa.png");
  background-size: 100% 100%;
  background-size: cover;
}

@media (max-width: 1200px) {
  #fks12 {
    display: none;
  }
}

@media (min-width: 1201px) {
  #fks123 {
    display: none;
  }
}

@media (min-width: 779px) {
  #dazq1 {
    display: none;
  }
}

@media (max-width: 779px) {
  #dawdsoqi {
    display: none;
  }
}

@media (max-width: 768px) {
  #fks-1 {
    height: auto;
  }
}

@media (min-width: 769px) {
  #fks-1 {
    height: 948px;
  }
}

@media (min-width: 304px) and (max-width: 550px) {
  #fks-1 {
    transform: translateY(62px);
  }
}

@media (min-width: 576px) {
  #fks-1 {
    transform: translateY(84px);
  }
}

